.content {
    background-color: #f1f1f1;
    margin-bottom: 2.5em;
    padding: 0 18px;
    overflow: hidden;
    width: 200px;
}

.content > *{
    margin-bottom: 1em;
}

.hidden-content {
    max-height: 0;
}

h1,
h2 {
    color: #333;
}

input[type="button"] {
    border: 2px solid #4CAF50;
    background-color: transparent; 
    border-radius: 15%;
    color: #333;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
}

input[type="button"]:hover {
    background-color: #4CAF50;
    color: white;
}

input[type=text] { 
    max-width: 100%;
}

.switch {
    position: relative;
    display: flex;
    width: 60px;
    height: 34px;
    margin-bottom: 1em;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
} 

.leftArrow,
.rightArrow {
    display: none;
    font-family: u2000;
    font-size: 55px;
}

.leftArrow.active,
.rightArrow.active {
    display: inline;
    cursor: pointer;
}

.leftArrow.active {
    float: left;
}

.rightArrow.active {
    float: right;
}

