/* #region General Styling */
body {
  font-size: 100%;
}

header {
  display: flex;
  align-items: center;
}

header h1,
header h2 {
  display: inline-block;
}

header h1 {
  width: 60%;
}

h3 {
  text-align: center;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

form {
  padding-left: 20px;
}

form * {
  display: block;
  margin: 10px 0;
}

form input {
  display: inline-block;
}

#deadname-form > input {
  width: 75%;
}

#options {
  display: grid;
  grid-template-columns: 15% 10% 15% 10% 15% 10% 15% 10%;
  grid-template-rows: 40px 50px 100px;

  margin: 10px 0;
}

#options * {
  margin: auto;
}

#options > h2 {
  grid-column: 1/9;
  margin: auto 0;
}

#options > p {
  grid-row: 3/4;
  text-align: center;
  margin-top: 5px;
}

#options > p:nth-of-type(1) {
  grid-column: 1/3;
}

#options > p:nth-of-type(2) {
  grid-column: 3/5;
}

#options > p:nth-of-type(3) {
  grid-column: 5/7;
}

#options > p:nth-of-type(4) {
  grid-column: 7/9;
}

#saved {
  display: inline-block;
  margin: 0 0 0 5%;
  box-sizing: border-box;
}

#saved.flash-alert {
  animation: flash-alert 5s cubic-bezier(0.79, 0.16, 0.23, 0.92);
}

#saved[hidden] {
  display: none;
}

footer {
  margin-top: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

/* #endregion */

/* #region Popup */

body#popup main {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 40px;
  row-gap: 20px;
}

body#popup main h3 {
  text-align: left;
  padding-left: 10px;
  margin: auto 0;
}

body#popup main label {
  margin: auto 0;
}

body#popup #view-options {
  grid-column: 1/3;
  box-sizing: border-box;
  margin-bottom: 15px;
}

/* #endregion */

/* #region Toggle Switches & Dropdowns*/
.switch {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 34px;
}

body.trans .switch input,
body.non-binary .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

body.trans .slider,
body.non-binary .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.5s ease-in-out;
  width: 64px;
  height: 36px;
}

body.trans .slider::after,
body.non-binary .slider::after {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.75s ease-in-out;

  box-sizing: border-box;
  border: 3px solid gray;
}

body.trans input:checked + .slider::after,
body.non-binary input:checked + .slider::after {
  transform: translateX(26px);
}

body.trans .slider,
body.non-binary .slider,
body.trans .slider::before,
body.non-binary .slider::before {
  border-radius: 34px;
}

body.trans .slider::after,
body.non-binary .slider::after {
  border-radius: 50%;
}

/* #region Theme Changing Dropdown */
#theme-toggle-container {
  width: 100%;
  height: 100%;
  position: relative;
}

body.trans #theme-toggle-container,
body.non-binary #theme-toggle-container {
  display: block;
  background-color: #e6e6e6;
  border-radius: 8px;
  line-height: 100%;
}

#theme-toggle-container select {
  width: 100%;
  height: 100%;
  padding: 8px 24px 8px 10px;
}

body.trans #theme-toggle-container select,
body.non-binary #theme-toggle-container select {
  border: none;
  background-color: transparent;
  appearance: none;
}

body.trans #theme-toggle-container option,
body.non-binary #theme-toggle-container option {
  background-color: #e6e6e6;
}

body.trans #theme-toggle-container:after,
body.non-binary #theme-toggle-container:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-top: 5px solid #aaa;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

/* Options Page Container */
#theme-toggle-container-options {
  display: inline-flex;
  justify-content: right;
  align-self: right;
  align-items: center;
  gap: 15px;
  width: 40%;
}

#theme-toggle-container-options > h4 {
  width: 65%;
  text-align: right;
  margin: 0;
  padding: 0;
}

#theme-toggle-container-options > div {
  width: 35%;
}
/* #endregion */

/* #endregion */

/* #region Body Themes */
body.trans,
body.non-binary {
  background-color: #3d3d3d;
  color: white;
  font-family: Helvetica, sans-serif;
}

body.trans .text-slide-background,
body.non-binary .text-slide-background {
  background: linear-gradient(90deg, #55cdfc 0%, #f7a8b8 12.5%, #ffffff 30%, #f7a8b8 42.5%, #55cdfc 50%, #fff430 50%, #fff430 65%, #ffffff 80%, #9c59d1 85%, #9c59d1 100%);

  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

body.trans button,
body.non-binary button {
  width: 410px;
  height: 40px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  padding: 0;

  border-style: none;
  color: white;
}

body.trans button::after,
body.non-binary button::after {
  content: attr(data-text);
  width: 400px;
  height: 30px;
  background-color: #191919;
  display: flex;
  align-items: center;
  justify-content: center;
}

body.trans button:hover,
body.non-binary button:hover {
  animation: slide-background 15s linear infinite;
  cursor: pointer;
}

body.trans .option-toggle-container .slider,
body.non-binary .option-toggle-container .slider {
  background-color: gray;
  transition: box-shadow 0.5s ease-in-out;
}

body.trans .option-toggle:checked + .slider {
  background-image: linear-gradient(#55cdfc, #55cdfc), linear-gradient(#f7a8b8, #f7a8b8), linear-gradient(#ffffff, #ffffff), linear-gradient(#f7a8b8, #f7a8b8), linear-gradient(#55cdfc, #55cdfc);
  background-size: 100% calc(1 * (100% / 5)), 100% calc(2 * (100% / 5)), 100% calc(3 * (100% / 5)), 100% calc(4 * (100% / 5)), 100% calc(5 * (100% / 5));
  background-repeat: no-repeat;
  box-shadow: -13px -10px 10px -6px #55cdfc, 13px -10px 10px -6px #55cdfc, -13px 10px 10px -6px #f7a8b8, 13px 10px 10px -6px #f7a8b8;
}

body.non-binary .option-toggle:checked + .slider {
  background-image: linear-gradient(#fff430, #fff430), linear-gradient(#ffffff, #ffffff), linear-gradient(#9c59d1, #9c59d1), linear-gradient(#000000, #000000);
  background-size: 100% calc(1 * (100% / 4)), 100% calc(2 * (100% / 4)), 100% calc(3 * (100% / 4)), 100% calc(4 * (100% / 4));
  background-repeat: no-repeat;
  box-shadow: -13px -10px 10px -6px #fff430, 13px -10px 10px -6px #fff430, -13px 10px 10px -6px #9c59d1, 13px 10px 10px -6px #9c59d1;
}

/* #region Transgender Theme Specific */
body.trans .text-slide-background {
  background-position: left;
}

body.trans form input:focus {
  transition: box-shadow 0.2s ease-out;
  box-shadow: -13px -10px 10px -6px #55cdfc, 13px -10px 10px -6px #55cdfc, -13px 10px 10px -6px #f7a8b8, 13px 10px 10px -6px #f7a8b8;
}

body.trans button {
  background-image: linear-gradient(90deg, #55cdfc 0%, #f7a8b8 25%, #ffffff 50%, #f7a8b8 75%, #55cdfc 100%);
}
/* #endregion */

/* #region Non-Binary Theme Specific */
body.non-binary .text-slide-background {
  background-position: right;
}

body.non-binary form input:focus {
  transition: box-shadow 0.2s ease-out;
  box-shadow: -13px -10px 10px -6px #fff430, 13px -10px 10px -6px #fff430, -13px 10px 10px -6px #9c59d1, 13px 10px 10px -6px #9c59d1;
}

body.non-binary button {
  background: linear-gradient(90deg, #fff430 0%, #9c59d1 30%, #ffffff 50%, #9c59d1 70%, #fff430 100%);
}
/* #endregion */

/* #region High Contrast */
body.high-contrast-light {
  background-color: white;
  color: black;
  font-family: "Times New Roman", Times, serif;
}

body.high-contrast-dark {
  background-color: #3d3d3d;
  color: white;
  font-family: "Times New Roman", Times, serif;
}

body.high-contrast-light button,
body.high-contrast-dark button {
  width: 410px;
  height: 40px;
  font-size: 18px;
}

/* #endregion */
/* #endregion */

/* #region Keyframes */
@keyframes slide-background {
  to {
    background-position: 200vw;
  }
}

@keyframes flash-alert {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
/* #endregion */
