.content {
    background-color: #f1f1f1;
    margin-bottom: 2.5em;
    padding: 0 18px;
    overflow: hidden;
    width: 200px;
}

.content > * {
    margin-bottom: 1em;
}

.hidden-content {
    max-height: 0;
}

h1,
h2 {
    color: #333;
}

input[type="button"] {
    border: 2px solid #4CAF50;
    background-color: transparent; 
    border-radius: 15%;
    color: #333;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
}

input[type="button"]:hover {
    background-color: #4CAF50;
    color: white;
}

input[type=text] { 
    max-width: 100%;
}

.leftArrow,
.rightArrow {
    display: none;
    font-family: u2000;
    font-size: 55px;
}

.leftArrow.active,
.rightArrow.active {
    display: inline;
    cursor: pointer;
}

.leftArrow.active {
    float: left;
}

.rightArrow.active {
    float: right;
}

.flexbox {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
}

.flexbox-1 {
    align-items: flex-start;
    display: flex;
}

.flex-content-1 > .content {
    margin-top: 7em;
}

.flex-content-2 {
    margin-left: 5em;
}

.flex-content-2 > .content {
    margin-top: 7px;
}

.footer {
    bottom: 2em;
    position: fixed;
}

.toggle {
    display: inline-block;
    user-select: none;
}
  
.toggle-switch {
    cursor: pointer;
    display: inline-block;
    background-color: #ccc;
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background-color 0.25s;
}

.toggle-switch:before, .toggle-switch:after {
    content: "";
}

.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
    background-color: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}

.toggle-checkbox:checked + .toggle-switch {
    background-color: #56c080;
}

.toggle-checkbox:checked + .toggle-switch:before {
    left: 30px;
}
  
.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}
  
.toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
}
